[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pyserial = "*"
python-dotenv = "*"
gym = "*"
pygame = "*"
torch = "==1.10.1+cu113"

[requires]
python_version = "3"
